__pycache__/
venv/
ui/main_window_ui.py
ui/status_bar_ui.py
base.py
config.ini
detector
doc
exception.py
image
__init__.py
offline
__pycache__
pyd
requirements.txt
samples
TEM3.pyd
VERSION
base.py
config.ini
detector
doc
exception.py
image
__init__.py
offline
__pycache__
pyd
requirements.txt
samples
TEM3.pyd
VERSION
inspectionProfiles
misc.xml
modules.xml
singla-GUI.iml
vcs.xml
workspace.xml
